.container {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.scroll{    
    overflow-y:auto;
    overflow-x:auto;
}

.panelcalculation {
    width: 600px;    
    gap: 0px;
    opacity: 0px;
    background: #F3F7FF;
}

