.tittle {
    font-family: 'NeuSans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #7A8499;
}

.subtittle {    
    font-family: 'NeuSans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #363C4D;
}

.tittleHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

