.icon {    
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='41' viewBox='0 0 35 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.547 0.500001L0 19.0475V40.5H29.0299L32.7844 36.7441L34.7471 34.7957V16.7006L18.547 0.500001ZM27.0517 19.8624L14.5135 7.32386L7.68559 14.1524V32.8345L27.0517 32.8214V19.8624ZM18.546 3.29303L15.9105 5.92844L29.0259 19.0429V34.7957L31.9543 34.7958L32.763 34.0042V17.5105L18.546 3.29303ZM27.0587 38.5355H1.97419V19.8375L5.69745 16.1145V34.7957H27.0587V38.5355ZM29.0297 37.7206L31.9543 34.7958L29.0259 34.7957L29.0297 37.7206Z' fill='%23014DFF'/%3E%3C/svg%3E%0A");
    width: 34.75px;
    height: 40px;
}

.tittle {
    width: Fill (768px)px;
    height: Hug (40px)px;
    gap: 24px;
    opacity: 0px;
}

.header {
    width: Fill (840px)px;
    height: Hug (104px)px;
    padding: 32px 36px 32px 36px;
    gap: 24px;
    opacity: 0px;    
    background: #FFFFFF;
}