<div class="containerInput" >
    <div class="containerLabel"> 
        <mat-icon class="iconSize">help</mat-icon>
        <div>{{values?.Description}}</div>
        
        @if(control.invalid && (control.touched || control.dirty))
        {
            @if (control.errors?.['required'])
            {
                <label *ngIf="values?.Required" class="inputRequired" style="color: red;">Required</label>       
            }            
        }
        @else
        {
            <label *ngIf="values?.Required" class="inputRequired">Required</label> 
        }
        
        <label *ngIf="!values?.Required" class="inputRequired">Optional</label>    
    </div>
    <div class="lineIntermediate">&nbsp;</div>    
    <input *ngIf="values?.IsInput" class="input" placeholder="€" [currencyMask]="{ prefix: '€ ', thousands: ',', decimal: '.', align: 'left' }" min="1" [formControl]="control" [(ngModel)]="value" ngDefaultControl  />    
    <select *ngIf="!values?.IsInput" class="input" [formControl]="control">
        <option class="input" *ngFor="let value of values?.Value">{{value}}</option>
    </select>
</div>