.input{
    border-radius: 8px;
    opacity: 0px;
    background: #F8F9FB;
    border: 1px solid #B8BECC;    
    flex-grow: 1;
    align-items: baseline;
    padding: 16px;
    font-family: 'NeuSans';
    font-size: 16px;
}

.inputRequired{
font-family: 'NeuSans';
font-style: normal;
font-size: 16px;
color: #98A0B3;
}

.iconSize{
color: #98A0B3;
}

.containerLabel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;   
    max-width: 80%;    
}

.containerInput{    
    display: flex;
    flex-direction: column;    
    width: 336px;
}

.lineIntermediate{
    line-height: 30%;
}

