<form class="form" [formGroup]="form">    
<div class="main"> 
    <app-header></app-header>
    <div class="submain">
        <app-tittle [tittle]="tittle" [subtittle]="subtittle" ></app-tittle>    
        <div class="grid">            
                <app-input *ngFor="let input of inputList" [control]="$any(form).controls[input.Name]" [values]="input"></app-input>             
        </div>
        <div>
            <div class="container">
                <button class="buttonBack btn" (click)="GoBack()">Go Back</button>
                <button class="buttonNext btn" type="submit" (click)="OnSubmit()">Next Step</button>
            </div>            
        </div>
    </div>
</div>
</form>
