.submain {
    opacity: 0px;
    gap: 60px;
    padding: 35px 60px 60px 60px;
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    flex-direction: column;
}

.form{
    width: '100%';
    display: 'flex';
}
.grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 350px 350px;
    padding: 10px;
  }  