<form class="form" [formGroup]="form" (ngSubmit)="onSubimit()">    
<div class="main"> 
    <app-header></app-header>
    <div class="submain">
        <app-tittle [tittle]="tittle" [subtittle]="subtittle" ></app-tittle>    
        <div class="grid">            
                <app-input *ngFor="let input of inputList" [control]="$any(form).controls[input.Name]" [values]="input"></app-input>             
        </div>
        <div>
            <app-buttons></app-buttons>
        </div>
    </div>
</div>
</form>
