.submain {
    width: 720px;
    height: 756px;    
    gap: 60px;
    padding: 0px 60px 0px 60px;
    opacity: 0px;
}

.main{
    width: Fill (840px)px;
    height: Fill (756px)px;
    padding: 0px 0px 0px 0px;
    gap: 60px;
    opacity: 0px;
}

